@{
    ViewBag.Title = "Home Page";
}

<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p class="lead">All Cats are 25% Off Today!</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>Welcome to Pets "R" Us</h1>
        <p>Kitty ipsum dolor sit amet, vulputate sleep on your keyboard vestibulum faucibus rutrum, sleep in the sink adipiscing enim ut orci turpis purr faucibus. Vel pharetra lay down in your way fluffy fur zzz rhoncus, consectetur rutrum pellentesque zzz. Vehicula cras nec suspendisse vehicula judging you, bat jump vestibulum enim ut vulputate sniff hiss. Sleep on your keyboard quis rhoncus non, toss the mousie hiss vel I don't like that food suscipit sunbathe. Iaculis neque toss the mousie suspendisse judging you, egestas tempus rip the couch meow faucibus vehicula. Mauris a faucibus knock over the lamp sleep on your keyboard hairball, hiss vulputate stretching dolor kittens egestas kittens.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fluffinator</h2>
        <img class="img-responsive img-thumbnail" src="http://placekitten.com/300/300/" />
    </div>
    <div class="col-md-4">
        <h2>Catnip Addict</h2>
        <img class="img-responsive img-thumbnail" src="http://lorempixel.com/300/300/cats/" />
    </div>
    <div class="col-md-4">
        <h2>Meet Bob</h2>
        <img class="img-responsive img-thumbnail" src="http://lorempixel.com/300/300/animals/" />
    </div>
</div>