@model IEnumerable<PetStore.Models.Pet>

@{
    ViewBag.Title = "Pet Inventory";
}

<h2>@ViewBag.Title</h2>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@item.petPicture" width="100" height="100"/>
        </td>
        <td>
            <h3>@Html.DisplayFor(modelItem => item.petName)</h3>
            <p>@Html.DisplayFor(modelItem => item.petDescription)</p>
            <p><a class="btn btn-default" href="Inventory/Details/@item.petID">More Info</a></p>
        </td>
    </tr>
}

</table>